
    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
        <button class="Btn02 bgleft02" type="submit" name="add" id="AddToCart">Add to cart</button>
      </form>
