    <a href="{{ collection.url }}" class="item" style="background-image: url ({{ collection.featured_image | image_url }});" >
        <div class="item__content">
        <h3>NEW COLLECTION</h3>
        <div class="Btn bgleft bgleft03">
            <span>もっと見る</span>
        </div>
        </div>
    </a>
