    <a href="{{ collection.url }}" class="item">
        <div class="item__content">
        <h3>NEW COLLECTION</h3>
        <div class="Btn bgleft bgleft03">
            <span>もっと見る</span>
        </div>
        </div>
    </a>
