<section class="sec04 sec">
    <div class="items-wrapper flex">
      <a href="product.html" class="item">
        <div class="item__content">
          <h3>NEW COLLECTION</h3>
          <div class="Btn bgleft bgleft03">
            <span>もっと見る</span>
          </div>
        </div>
      </a>

      <a href="product.html" class="item">
        <div class="item__content">
          <h3>NEW COLLECTION</h3>
          <div class="Btn bgleft bgleft03">
            <span>もっと見る</span>
          </div>
        </div>
      </a>

      <a href="product.html" class="item">
        <div class="item__content">
          <h3>NEW COLLECTION</h3>
          <div class="Btn bgleft bgleft03">
            <span>もっと見る</span>
          </div>
        </div>
      </a>

      <a href="product.html" class="item">
        <div class="item__content">
          <h3>NEW COLLECTION</h3>
          <div class="Btn bgleft bgleft03">
            <span>もっと見る</span>
          </div>
        </div>
      </a>

      <a href="product.html" class="item">
        <div class="item__content">
          <h3>NEW COLLECTION</h3>
          <div class="Btn bgleft bgleft03">
            <span>もっと見る</span>
          </div>
        </div>
      </a>

    </div>
  </section>

  {% schema %}
  {
    "name": "collection-list",
    "settings": [
      {
        "type": "featured_collection",
        "id": "collection",
        "label": "collection-list"
      }
    ]
    }
{% endschema %}